Package: libahp-gt-dbgsym
Package-Type: ddeb
Source: libahp-gt
Version: 1.7.6
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ilia Platone <info@iliaplatone.com>
Installed-Size: 81
Depends: libahp-gt (= 1.7.6)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libahp-gt
Build-Ids: 38d69b5f7158caad9dbbc1b44b1699e64933e762
